/*  
Theme Name: Standard Child Theme Kit
Theme URI: https://github.com/eightbit/standard-child-theme-kit
Version: 3.2.1
Description: This is a "getting started" child theme kit for Standard 3.
Author: 8BIT
Author URI: http://8bit.io
Author Email: sales@8bit.io
License: GNU General Public License v3.0 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: standard
*/


/* Import Standard Styles
---------------------------------------------------------------------------------- */

@import url( '../standard/style.css' );
@import url( '../standard/css/theme-responsive.css' );

/* Uncomment the line below to enable child theme right-to-left language support. */
/* @import url( '../standard/rtl.css' ); */


/* Customizations
---------------------------------------------------------------------------------- */



/* Media Queries
---------------------------------------------------------------------------------- */

/* Smartphones */
@media (max-width: 480px) {

}

/* Tablet & Mobile */
@media (max-width: 979px) {	
			
}

/* Mobile to Tablet */
@media only screen and (max-width: 767px) {
	
}


/* Landscape Tablets */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Desktop */
@media (min-width: 980px) {
	
}

